{% extends 'aplication/index.html' %}
{% load static %}


{% block titulo %}
Instrumentos
{% endblock titulo %}

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Instrumento</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
    {% for instrumento in instrumentos %}
    <tr>
        <td>{{ instrumento.id }}</td>
        <td>{{ instrumento.tipo }}</td>
        <td>{{ instrumento.marca }}</td>
        <td>{{ instrumento.modelo }}</td>
        <td>{{ instrumento.precio }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}